* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    background: rgb(134, 129, 129);
}



.container {
    background: #ebe2e2;
    font-family: Epilogue;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 100px;
    max-width: 1440px;

}


.header {
    height: 60px;
}

.header .header-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
    justify-content: space-between;
}

.header .header-container .menu-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.mobile-menu-overlay{
    display: none;
}
.header .main-nav {
    height: 100%;
    margin-left: 30px;
}

.header .main-nav .main-nav-list {
    height: 100%;
    display: flex;
    justify-items: center;
    list-style: none;
}

.header .main-nav .main-nav-list .main-nav-list-item {
    height: 100%;
    margin-right: 30px;
    position: relative;
}

.header .main-nav .main-nav-list .main-nav-list-item:last-of-type {
    margin-right: 0;
}

.header .main-nav .main-nav-list .main-nav-list-item .main-link {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    opacity: 0.8;
    text-decoration: none;
}

.header .main-nav .main-nav-list .main-nav-list-item .main-link img {
    margin-left: 5px;
    transition: all 0.2s linear;
}

.header .main-nav .main-nav-list .main-nav-list-item .main-link:hover img {
    transform: rotate(180deg);
}

.header .main-nav .main-nav-list .main-nav-list-item .sub-nav {
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    display: none;
}

.header .main-nav .main-nav-list .main-nav-list-item .sub-nav li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.header .main-nav .main-nav-list .main-nav-list-item .sub-nav li:last-of-type {
    margin-bottom: 0;
}

.header .main-nav .main-nav-list .main-nav-list-item .sub-nav li .sub-nav-link {
    display: flex;
    align-items: center;
    color:  black;
    opacity: 0.8;
    text-decoration: none;
    height: 100%;
    padding: 5px 0;
}

.header .main-nav .main-nav-list .main-nav-list-item .sub-nav li .sub-nav-link img {
    margin-right: 5px;
}

.header .main-nav .main-nav-list .main-nav-list-item:hover .sub-nav {
    display: block;
}

.header .login-action-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

}

.header .login-action-container a {
    text-decoration: none;
    color: black;
    opacity: 0.8;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header .login-action-container a.registration-link {
    margin-left: 10px;
    border: 1px solid transparent;
}

.header .login-action-container a.registration-link:hover {
    border-radius: 8px;
    border: 1px solid black;
}

.burger {
    display: none;
    text-decoration: none;
    border: 0;
    justify-content: center;
}




.content {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 110px;
    grid-column-gap: 100px;
}

.words {
   
   display: grid;
   
   margin: 0 auto;
}
.picture {
    margin: 0 auto;
    
}

.picture img {
    width: 100%;
}
.picture-mobile {
    display: none;
    
}

.title {
    font-size: 76px;
    margin-top: 80px;
    
}

.description {
    margin-top: 30px;
    line-height: 1.5;
    font-size: 19px;
    opacity: 0.5;
    
}

.advertising {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
}
.btn-learn {
    margin-top: 40px;
    
    border-radius: 15px;
    font-size: 16px;
    font-family: Epilogue;
    color: white;
    background: black;
    height: 48px;
    width: 150px;
    border: none;
}

.btn-learn:hover {
    color:black;
    background: white;
    cursor: pointer;
    border: 2px black solid;
}






@media screen and (max-width: 1000px) {

    .content{
        margin: 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
    }

    .picture {
        display: grid;
       grid-column-start: 2; 
       grid-column-end: 4;
    }
    .title {
        margin-top: 0;
        font-size: 50px;
    }
    .description {
        font-size: 12px;
    }
    .picture img {
        min-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
        /* background-image: url(images/icon-menu.svg); */
    }
   
    
    body{
        background: none;
    }
    .container {
        margin-top: 0;
        background: white;
    }
   
    .header{
        width: 100%;
    }
    
    .header .header-container .menu-container {
        background: white;
        position: fixed;  
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        flex-direction: column;
        right: -250px;
    }
   

    .header .header-container .open{
        right:0;
        position: absolute;
        z-index: 2;
        transition: all 0.3s ease 0s;
    }
    .burger .active{
        position: absolute;
        z-index: 50;
    }
    .header .main-nav {
        height: unset;
        margin-left: 0;
        
    }

     .header .main-nav .main-nav-list {
        flex-direction: column;
        height: unset;

    }
    .header .main-nav .main-nav-list .main-nav-list-item{
        margin: 0;
    }
    .header .main-nav .main-nav-list .main-nav-list-item .main-link{
        padding: 10px 20px ;

    }

    .header .main-nav .main-nav-list .main-nav-list-item .sub-nav{
        position: unset;
    }
    .header .main-nav .main-nav-list .main-nav-list-item .sub-nav li .sub-nav-link{
        padding: 10px 20px 10px 40px;
    }

    .header .login-action-container {
        flex-direction: column;
        height: unset;
        margin-top: 40px;
    }

    .content{
        grid-template-rows: 1fr;
        grid-template-columns: none;
        justify-content: center;
        
    }
    .picture-mobile img {
        width: 100%;
    }
    .words{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
       text-align: center;
    }
    .description{
        text-align: center;
    }

    .btn-learn {
        margin: auto;
        margin-top: 20px;
    }
    .picture {
        display: none;
    }

    .picture-mobile {
        display: block;
        
    }

    
}
   
    